
body{
	background-color: rgb(34, 34, 34)!important;
}
.button-primary{
    background-color: #2591f0!important;
    color: rgb(255, 250, 239)!important;
}
.button-primary:hover{
    background-color: #1e549f!important;
}

.bground-primary{
    background: rgb(95,113,243);
    background: linear-gradient(309deg, rgba(95,113,243,0.4599089635854342) 0%, rgba(95,201,243,0.1293767507002801) 0%, rgba(255,255,255,0) 100%);
}

.card {
    height: 320px!important;
	/* z-index: -1; */
}

.wrapper{
	position: absolute;
	top: 0;
	left: 0;
	height: 150%;
	width: 100%;
	/*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
	/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
	/* clip-path: circle(25px at calc(0% + 45px) 45px); */
	background: #000;
	clip-path: circle(25px at calc(100% - 45px) 45px);
	transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
	clip-path: circle(75%);
	z-index: 20000;
  }
  .menu-btn{
	z-index: 30000;
	position: fixed;
	right: 20px;
	/* left: 20px; */
	top: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	/*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
	/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
	background: #000;
  }

  .back-btn{
	z-index: 10000;
	position: fixed;
	left: 20px;
	/* left: 20px; */
	top: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	/*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
	/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
	background: #000;
	transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
	color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
	content: "\f00d";
  }
  .wrapper ul{
	position: absolute;
	top: 5%;
	list-style: none;
	text-align: center;
  }
  .wrapper ul li{
	margin: 15px 0;
  }
  .wrapper ul li a{
	color: none;
	text-decoration: none;
	font-size: 30px;
	font-weight: 500;
	padding: 5px 30px;
	color: #fff;
	border-radius: 50px;
	background: #000;
	position: relative;
	line-height: 50px;
	transition: all 0.3s ease;
	z-index: 2;
  }
  .wrapper ul li a:after{
	z-index: -20000;
	position: absolute;
	content: "";
	background: #fff;
	 background: linear-gradient(#4714ff, #ffffff, #00e5ff);
	/*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
	width: 104%;
	height: 110%;
	left: -2%;
	top: -5%; /* if the font is 'Oswald'*/
	border-radius: 50px;
	transform: scaleY(0);
	animation: rotate 1.5s linear infinite;
	transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
	transform: scaleY(1);
  }
  .wrapper ul li a:hover{
	color: #fff;
  }
  input[type="checkbox"]{
	display: none;
  }

/* animations */
.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #4f00fb, #0000ff, #00bfff,#0000ff, #aa00ff, #6400fb, 
		#0000ff, #00fffb,#00d5ff, #e100ff);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 3%;
	z-index: -3;
	animation: steam 40s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(5px);
}