// Principais

$primary: #2e79ba!important;
$secondary: #1e549f!important;
$highligth: #081f37!important;
$warning: #ffdd00!important;
$success: #5fc9f3!important;
$error: #e85b48!important;

// Black Escale
$disabled: rgb(166, 166, 166)!important;
$white: rgb(255, 250, 239)!important;
$dark: rgb(34, 34, 34)!important;
